.App {
  margin: 0;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  background-color:#9bd0c5;
  color: #2e3469;
}

.App-header {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: auto;
  padding: 35px 25px;
}

.App-header img {
  margin: 0;
  width: 100%;
  height: auto;
}

.App-body {
  margin: 25px auto 0;
  width: 100%;
  height: auto;
  text-align: center;
}

h2 {
  margin: 0 0 25px;
  font-family: BrotherReg, 'Helvetica Neue', sans-serif;
  font-size: 125px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -3px;
  animation: App-fadeIn .7s linear;
}

p, a {
  display: block;
  margin: 0;
  font-family: BrotherReg, 'Helvetica Neue', sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
  padding: 0 25px;
  text-decoration: none;
}

a {
  color: #2e3469 !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.Boat-art {
  position: relative;
  margin: 100px 0 0;
  width: 100%;
  height: 1px;
  background-color: #2e3469;
  overflow: visible;
}

.Boat-art img {
  position: absolute;
  top: -91px;
  width: 150px;
  height: auto;
  animation: App-logo-glide infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-glide infinite 20s linear;
  }
}

@keyframes App-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes App-logo-glide {
  from {
    left: -10%;
  }
  to {
    left: 100%;
  }
}

@keyframes App-logo-glide-t {
  from {
    left: -20%;
  }
  to {
    left: 100%;
  }
}

@keyframes App-logo-glide-m {
  from {
    left: -35%;
  }
  to {
    left: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .App-header {
    width: 350px;
  }

  h2 {
    font-size: 90px;
    letter-spacing: -3px;
  }

  .Boat-art img {
    animation: App-logo-glide-t infinite 15s linear;
  }
}

@media only screen and (max-width: 600px) {
  .App-header {
    width: 250px;
  }

  h2 {
    font-size: 55px;
    letter-spacing: -3px;
  }

  .Boat-art img {
    animation: App-logo-glide-m infinite 10s linear;
  }
}
